* {
    box-sizing: border-box;
}

.login-page {
    background: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 72px;
    transition: all 1s ease;
}

.login-page--hidden{
    opacity: 0;
}

.login-page img {
    margin-bottom: 20vh;
}

.login-page input {
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 261px;
    height: 54px;

    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}

.login-page input::placeholder {
    color: #AEAEAE;
}

.login-page button {
    background: #E7E7E7;
    border-radius: 9px;
    border: none;
    width: 109px;
    height: 45px;
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
    color: #696969;
}

.login-page .loading-gif {
    width: 70%;
    height: auto;
}


main {
    height: auto;
}

.messages--remove-vertical-scroll {
    overflow-y: hidden;
}

.hidden {
    display: none;
}

strong {
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header img {
    width: 75px;
    height: 53px;
}

header ion-icon {
    width: 45px;
    height: 45px;
}

main {
    background-color: #F3F3F3;
    margin-top: 106px;
    margin-bottom: 84px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.message {
    display: flex;
    padding: 8px;
    border-radius: 2px;
    background-color: #FFFFFF;
}

.message--status {
    background-color: #DCDCDC;
}

.message--DM {
    background-color: #FFDEDE;
}

.message p {
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    max-width: 100%;
    word-wrap: break-word;
    hyphens: auto;
}

.message__time {
    color: #9D9D9D;
}

footer {
    background-color: #FFFFFF;
    padding: 27px 18px 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer input {
    width: calc(100% - 35px);
    border: none;
    outline: none;
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

footer input::placeholder {
    font-style: italic;
    color: black;
}

footer p {
    font-family: Roboto;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color:gray;
}

footer ion-icon {
    position: fixed;
    bottom: 27px;
    right: 18px;
    width: 26px;
    height: 26px;
}

.dark-overlay {
    transition: background-color .7s ease;
}

.dark-overlay--active {
    background-color: rgba(0, 0, 0, 0.7);
}

.dark-overlay--active--front {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

aside {
    position: fixed;
    top: 0;
    right: -295px;
    bottom: 0;
    z-index: 2;
    background-color: #FFFFFF;
    width: 259px;
    transition: all .5s ease;
    overflow: auto;
}

.sidebar-container {
    padding: 25px 17px;
    height: 100%;
    overflow-y: scroll;
}

aside.aside--slide {
    right: 0;
}

aside .sidebar-container > p {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 30px;
}

aside ul {
    margin-bottom: 30px;
}

aside .contacts p, aside .visibility p {
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
}

aside .contacts ion-icon {
    font-size: 25px;
}

aside ul li {
    transition: all 1s ease;
    max-height: 300px;
}

.div-6-pixels {
    height: 37px;
    width: 0px;
}

aside ul li.message--slide {
    opacity: 0;
    max-height: 0px;
}

aside .visibility {
    margin-bottom: 0;
}

aside .visibility li:last-child {
    margin-bottom: 0;
}

aside ul ion-icon {
    margin-right: 7px;
}


aside .visibility ion-icon {
    width: 22px;
    height: 22px;
}

aside .checkmark {
    width: 13px;
    height: 11px;
}

aside .visibility li, aside .contacts li {
    display:flex;
    align-items: center;
    flex-grow: 1;
}

aside li .checkmark {
    margin-left: auto;
}